body {
  font-family: fira sans, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
