body {
  background-color: #FAFAFA;
  position: relative;
}

/* Header */

.header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: #009FE3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.perfil {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  color: white;
}

.perfil ul {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0px 4px;
  cursor: pointer;
}

.perfil li {
  display: flex;
  align-items: center;
}

.setinha {
  color: white;
  height: 12px;
  margin-left: 8px;
  transition: transform 0.5s ease;
}

.setinha.ativo {
  transform: rotate(90deg)
}

.perfil ul:hover .setinha {
  transform: rotate(90deg)
}

.nome-login {
  font-size: 12px;
  line-height: 1;
  color: white;
  white-space: nowrap;
}

.img-perfil {
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

@media (min-width: 500px) {

  .img-perfil {
    width: 30px;
    height: 30px;
  }

  .perfil {
    padding: 0px 0px 0px 12px;
    margin: 0 auto;
    color: white;
  }
}

/* Financas */


.financas-bg {
  width: 100%;
  background: linear-gradient(180.52deg, #009FE3 8.62%, rgba(240, 240, 240, 0) 45.11%);
  margin: 0 auto;
  padding-top: 8px;
  margin-top: -1px;
}

.selecao-radio {
  width: 88%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}

/* SALDO */
.saldo {
  font-size: 12px;
  line-height: 1;
}

.valor {
  font-size: 26px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 16px;
}

.saldo-geral {
  display: flex;
  align-items: center;
  gap: 0 4px;
}

.status {
  display: grid;
  grid-template-columns: 4px 1fr;
  padding: 2px 8px 2px 8px;
  gap: 8px;
  font-size: 12px;
  line-height: 1;
  align-items: center;
  margin-left: 8px;
  width: auto;
  height: 11px;
  border-radius: 8px;
}

.status.positivo::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background: #84F0BE;
  animation: brilhoPositivo 3s infinite alternate;
}


@keyframes brilhoPositivo {
  from {
    box-shadow: 0px 0px 1px 1px #15995C;
  }

  to {
    box-shadow: 0px 0px 4px 2px #15995C;
  }
}

.status.negativo::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background: #F41414;
  animation: brilhoNegativo 2s ease-in-out infinite alternate;
}


@keyframes brilhoNegativo {
  from {
    box-shadow: 0px 0px 0px 0px #E00D0D;
  }

  to {
    box-shadow: 0px 0px 4px 2px #E00D0D;
  }
}

.menu {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  width: 18px;
  height: 10px;
}

/* BOTOES */

.texto {
  text-align: center;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: 'roboto', sans-serif;
}

.selecao-conteudo {
  display: grid;
  grid-template-columns: 120px 120px;
  align-self: center;
  gap: 16px 16px;
  padding-bottom: 8px;
}

#compra-button:hover,
#venda-button:hover,
#pix-button:hover,
#emprestimo-button:hover {
  background: #d3d3d3;
  border-color: #a5a5a5;
}

#compra-button,
#venda-button,
#pix-button,
#emprestimo-button {
  background: #EFEFEF;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 8px;
  font-family: "roboto", serif;
  font-weight: 500;
  border-radius: 10px;
  font-size: 12px;
  width: 120px;
  height: 50px;
  border: 1px solid #C9C9C9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}



/* Formularios */

.transacao {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2500;
}

.financas {
  position: relative;
  display: grid;
  justify-items: center;
  background-color: white;
  border: 5px solid red;
  box-shadow: 0 0 0 4px white;
  padding: 10px 10px 0 10px;
  width: 75%;
  border-radius: 20px;
}

.form-img {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.financas-formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 8px;
  margin-top: 6px;
  border-top: 1px solid #D8D8D8;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  width: 93%;
}

.financas-formulario select,
.financas-formulario input {
  width: 100%;
  background: #d3b7ff;
  border: 1px solid #130031;
  border-radius: 5px;
  height: 28px;
  font-family: "roboto", sans-serif;
  text-align: center;
  font-size: 12px;
  text-align-last: center;
  color: black;
}

.financas-formulario select {
  height: 32px;
}

.financas-formulario input::placeholder {
  color: #545454;
  text-align: center;
  font-size: 12px;
}

.financas-formulario button {
  display: flex;
  align-items: center;
  gap: 0px 8px;
  width: 110px;
  height: 30px;
  padding: 5px 5px 5px 10px;
  color: #130031;
  background: linear-gradient(#ceaeff, #ac7df4);
  border: 1px solid #130031;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.div-total,
.div-parcelas {
  grid-column: 1/-1;
}

.div-parcela-juros {
  grid-column: 1/-1;
}

.div-total {
  display: grid;
  justify-content: center;
}

.div-botao {
  display: grid;
  justify-content: center;
  padding-top: 10px;
  grid-column: 1/-1;
}

.financas-formulario button:hover {
  background: linear-gradient(#c8a6ff, #a372f0);
}

.financas-formulario button img {
  width: 15px;
  height: 15px;
}

@media (min-width: 375px) {
  .selecao-conteudo {
    grid-template-columns: 140px 140px;
    gap: 16px 32px;
  }

  #compra-button,
  #venda-button,
  #pix-button,
  #emprestimo-button {
    width: 140px;
    height: 50px;
    border: 1px solid #C9C9C9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }

}

/* IDS */

#compra-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/compra.svg");
  width: 22px;
  height: 22px;
}

#compra-button::after {
  content: "Despesa";
  display: block;
}

#venda-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/venda.svg");
  width: 22px;
  height: 22px;
}

#venda-button::after {
  content: "Receita";
  display: block;
}

#pix-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/pix.svg");
  width: 23px;
  height: 22px;
}

#pix-button::after {
  content: "Transferencia";
  display: block;
}

#emprestimo-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/emprestimo.svg");
  width: 23px;
  height: 22px;
}

#emprestimo-button::after {
  content: "Emprestimo";
  display: block;
}

#emprestimo-conteudo,
#venda-conteudo,
#compra-conteudo,
#pix-conteudo {
  grid-column: 1 / -1;

}

#emprestimo-conteudo.ativo,
#venda-conteudo.ativo,
#compra-conteudo.ativo,
#pix-conteudo.ativo {
  display: flex;
  animation: formulario .6s forwards;
}

@keyframes formulario {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

/* ids formulario */

#dataInfo,
#categoriaInit,
#parcelas,
#juros-compostos,
#emprestimo-juros {
  padding: 4px 6px;
  cursor: pointer;
  text-align: center;
}

#dataInfo {
  padding: 0 2px;
}

#dataInfo,
#movimentacao,
#valorInput {
  width: 98%;
  min-width: 97%;
}

#parcelas,
#emprestimo-juros,
#juros-compostos {
  width: 100%;
  cursor: pointer;
}

#emprestimoLabel #condicao,
.parcelasTotal {
  display: none;
}



.icon.icon-transacao {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #FFFDFF;
  padding: 5px;
  border: 1px solid #EEEEEE;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#data {
  width: 97%;
}

#total {
  margin-bottom: 10px;
}

/* Media do formulario */



/* MOVIMENTACOES */
.organizaMov.jurosLs {
  display: none;
}


.editValueBg {
  display: none;
  position: fixed;
  font-family: 'roboto', sans-serif;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.3);
}

.editValueBg.ativo {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.editValue {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: auto;
  box-shadow: 0 0 0 4px white;
  animation: modal .4s forwards;

}

#compraLabelEdit .editValue,
#compra-conteudo .financas {
  border: 10px solid #F92828;
}

#emprestimoLabelEdit .editValue,
#emprestimo-conteudo .financas {
  border: 10px solid #6D29D3;
}

#transferenciaLabelEdit .editValue,
#pix-conteudo .financas {
  border: 10px solid #32BCAD;
}


#vendaLabelEdit .editValue,
#venda-conteudo .financas {
  border: 10px solid #00920F;
}

.botaoEdit {
  display: flex;
  justify-self: center;
  margin-top: 16px;
  gap: 16px;
}

.editValue input,
.editValue select {
  margin-bottom: 8px;
}

#editar::before {
  content: "Editar";
}

#editar.ativo::before {
  content: "Confirmar";
}

.confirmar {
  position: absolute;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  border: 1px solid #3f019d;
  background-color: #f92828;
}

.confirmar.ativo {
  display: grid;
}

.confirmar span {
  grid-column:
    1/-1;
}

#fecharForm,
#fecharEdit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f92828;
  border: 1px solid black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.movimentacoes-bg {
  width: 100%;
  margin-top: 32px;
}


.movimentacoes-bg h3 {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
}

.movimentacoes-conteudo-bg {
  margin: 0 auto;
  margin-top: 8px;
  width: 100%;
  display: grid;
}

.movimentacoes-conteudo {
  display: grid;
  justify-content: center;
  border-radius: 5px;
  background: white;
  padding: 12px 0px 0px 0px;
  width: 100vw;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.movimentacoesLista {
  display: grid;
  grid-template-columns: 40px 60% auto;
  font-family: 'roboto', sans-serif;
  font-size: 0.8rem;
  align-items: center;
  gap: 0px 8px;
  margin: 0 auto;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid #EEEEEE;
}

.icon-transacao {
  grid-row: 1/3;
  width: 26px;
  height: 26px;
}

#data {
  grid-column: 3;
}

#data {
  width: 70px;
}

#categoria {
  width: 120px;
}

#valor,
.valorInicial {
  width: auto;
  font-size: 12px;
}


#nomeMov {
  width: auto;
}

#tabela {
  width: 85vw;
}

#condicional,
#diferenca,
#jurosLs,
#jurosMesLs,
#parcelasTotal {
  display: none;
}

#tabela input {
  border: none;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  text-align: start;
  color: #313131;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.8rem
}

#categoria,
#data,
.valorFinal,
.transferencia#nomeMov,
.parcelas-venda#parcelasTotal {
  display: block;
  color: #939393 !important;
  font-size: 0.6rem !important;
}