body {
  background-color: #f3f4ef;
  position: relative;
}

/* Header */

.header {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.logo {
  width: 100%;
  margin-top: 18px;
  margin-left: 107px;
}

.navegacao {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
  justify-content: space-between;
}

.navegacao a {
  position: relative;
}

.navegacao a:hover {
  color: #6d29d3;
}

.navegacao-conteudo a:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #130031;
}

.navegacao-conteudo ul {
  display: flex;
  gap: 50px;
}

.navegacao-conteudo ul a {
  color: #130031;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0px;
  letter-spacing: 1.2px;
}


.login ul a {
  color: #130031;
  font-size: 20px;
}

.botao-login {
  display: block;
  text-align: center;
  font-weight: 600;
  width: 170px;
  height: 26px;
  padding: 15px 18px;
  border: 2px solid;
  border-radius: 10px;
  color: #130031;
  text-transform: uppercase;
}

.login ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.login ul a {
  color: #130031;
  font-size: 14px;
}

@media (max-width: 1400px) {


  .navegacao ul a {
    font-size: 16px;
  }

  .botao-login {
    width: 150px;
    height: 26px;
    padding: 12px 14px;
  }


}

@media (max-width: 1200px) {


  .header {
    margin-bottom: 60px;
  }

  .navegacao ul a {
    font-size: 13px;
  }

}

@media (max-width: 1000px) {
  .header {
    display: flex;
  }

  .navegacao {
    justify-self: center;
    gap: 80px;
  }

  .logo {
    margin-left: 40px;
  }

  .navegacao-conteudo ul {
    gap: 15px;
  }

  .navegacao ul {
    gap: 30px;
  }

  .navegacao ul a {
    font-size: 12px;
  }

  .login ul {
    gap: 10px;
  }

  .login ul a {
    font-size: 12px;
  }

  .logo {
    width: 150px;
  }

  .header {
    margin-bottom: 40px;
  }

  .perfil {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 800px) {


  .perfil {
    width: 50px;
    height: 50px;
  }

  .navegacao {
    justify-self: center;
    gap: 80px;
  }

  .logo {
    justify-self: center;
    margin: 0px auto;
    margin-left: 20px;
    padding-left: 0px;
  }

  .navegacao-conteudo ul {
    margin: 0 auto;
  }

  .navegacao-conteudo li:last-child {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo {
    margin-right: 0px;
  }

  .perfil {
    width: 40px;
    height: 40px;
  }

  .navegacao {
    gap: 40px;
  }

  .navegacao ul a {}

  .navegacao ul {
    gap: 10px;
    margin-left: 0px;
  }

  .login ul a {
    font-size: 10px;
  }

  .login ul {
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 100px;
  }

  .perfil {
    width: 30px;
    height: 30px;
  }

  .navegacao {
    gap: 20px;
  }

  .navegacao ul {
    gap: 8px;
  }

  .login ul {
    gap: 5px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 70px;
    margin-left: 10px;
  }

  .perfil {
    width: 20px;
    height: 20px;
  }

  .navegacao {
    gap: 15px;
  }

  .navegacao ul a {
    font-size: 8px;
  }

  .navegacao ul {
    gap: 8px;
  }

  .login ul a {
    font-size: 8px;
  }

  .login ul {
    gap: 5px;
  }
}

/* Financas */
select {
  text-align-last: center;
  text-align: center;
}

.financas-bg {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 2px solid #6d29d3;
  padding-bottom: 50px;
}

.financas {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.titulo {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
  align-items: center;
  font-size: 2.5rem;
  color: #130031;
  margin-bottom: 40px;
  position: relative;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.titulo::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/Movimentacoes/mulherSentada.svg");
  width: 164px;
  height: 85px;
  top: -13.5px;
  right: -159px;
}

.financas-formulario {
  display: grid;
  gap: 10px;
  align-items: center;
}

.financas-formulario select,
.financas-formulario input {
  background: #d3b7ff;
  border: 1px solid #130031;
  border-radius: 5px;
  height: 26px;
  font-family: "roboto", sans-serif;
  text-align: center;
}

#compra-button:hover,
#venda-button:hover,
#pix-button:hover,
#emprestimo-button:hover {
  background: #d3d3d3;
  border-color: #a5a5a5;
}

#compra-button,
#venda-button,
#pix-button,
#emprestimo-button {
  background: #d9d9d9;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Libre Baskerville", serif;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  width: max-content;
  padding: 10px 25px 10px 15px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.selecao-radio {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
}



.selecao-radio h2 {
  font-size: 18px;
}

.selecao-conteudo {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 160px 140px 105px 195px;
  margin-top: 30px;
  gap: 30px;
}

.transacao {
  display: none;
}

#compra-button.ativo,
#venda-button.ativo,
#pix-button.ativo,
#emprestimo-button.ativo {
  background: #cacaca;
  border: 1px solid black;
}

.financas-formulario input::placeholder {
  color: #545454;
  text-align: center;
  font-size: 12px;
}

.financas-formulario button {
  display: flex;
  align-items: center;
  gap: 0px 8px;
  width: 95px;
  padding: 6.2px 10px;
  color: #130031;
  background: linear-gradient(#ceaeff, #ac7df4);
  border: 1px solid #130031;
  border-radius: 5px;
  cursor: pointer;
}

.financas-formulario {
  display: grid;
  border-radius: 10px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  background: #e7e7e7;
  padding: 20px 10px 10px 10px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
}

.div-total,
.div-parcelas,
.div-parcela-juros {
  grid-column: 1/-1;
}

.financas-formulario button {
  gap: 0px 8px;
  height: 30px;
  width: 110px;
  padding: 5px 5px 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.div-botao {
  padding-top: 10px;
  grid-column: 1/-1;
  justify-self: center;
}

.financas-formulario button:hover {
  background: linear-gradient(#c8a6ff, #a372f0);
}

.financas-formulario button img {
  width: 15px;
  height: 15px;
}

/* IDS */

#compra,
#venda,
#emprestimo,
#pix {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#compra-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/compra.svg");
  width: 22px;
  height: 22px;
}

#compra-button::after {
  content: "COMPRA";
  display: block;
}

#venda-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/venda.svg");
  width: 22px;
  height: 22px;
}

#venda-button::after {
  content: "VENDA";
  display: block;
}

#pix-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/pix.svg");
  width: 23px;
  height: 22px;
}

#pix-button::after {
  content: "PIX";
  display: block;
}

#emprestimo-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/emprestimo.svg");
  width: 23px;
  height: 22px;
}

#emprestimo-button::after {
  content: "emprestimo";
  display: block;
}

#emprestimo-conteudo,
#venda-conteudo,
#compra-conteudo,
#pix-conteudo {
  grid-column: 1 / -1;
}

#compra-conteudo {
  display: none;
}

#emprestimo-conteudo.ativo,
#venda-conteudo.ativo,
#compra-conteudo.ativo,
#pix-conteudo.ativo {
  display: block;
}

/* ids formulario */

#receita,
#parcelas,
#juros-compostos,
#emprestimo-juros {
  padding: 0px 10px;
  width: max-content;
  height: 30.19px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

#pix-label::before,
#compra-label::before,
#venda-label::before,
#emprestimo-label::before {
  position: relative;
}


#movimentacao {
  width: 97%;
}

#valor {
  width: 97%;
}

#parcelas,
#emprestimo-juros,
#juros-compostos {
  width: 100%;
  cursor: pointer;
}

#receita {
  width: 100%;
}

#vencimento,
#Data {
  width: 97%;
}

#total {
  margin-bottom: 10px;
}

/* Media do formulario */

@media (max-width: 1000px) {

  #emprestimo-button,
  #venda-button,
  #compra-button,
  #pix-button {
    gap: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px 20px;
  }


  .selecao-radio h2 {
    font-size: 16px;
  }

  .titulo::after {
    background: url("../img/Movimentacoes/MulherSentada144x.svg");
    width: 144px;
    height: 75px;
    right: -140px;
    top: -15px;
  }

  .titulo {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .titulo::after {
    display: none;
  }

  .selecao-conteudo {
    max-width: 800px;
    gap: 15px;
    grid-template-columns: 140px 120px 95px 165px;
  }

  #emprestimo-button,
  #venda-button,
  #compra-button,
  #pix-button {
    align-items: center;
    font-size: 12px;
    text-align: center;
    padding: 7px 17px;
  }

  .financas-formulario button img {
    width: 15px;
    height: 15px;
  }

}

@media (max-width: 600px) {

  #compra-button,
  #pix-button,
  #venda-button,
  #emprestimo-button {
    justify-self: center;
    padding-right: 25px;
  }

  .financas-bg {
    padding-bottom: 20px;
  }

  .selecao-radio {
    margin-bottom: 20px;
  }

  .titulo {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .selecao-radio h2 {
    font-size: 0.85rem;
  }

  .selecao-conteudo {
    padding: 0px;
    display: grid;
    grid-template-columns: 220px 220px;
    margin: 0 auto;
    gap: 20px;
    border-radius: 10px;
    background: #e7e7e7;
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
  }

  .financas-formulario {
    grid-template-columns: 1fr;
    border-radius: 0px;
    width: 80%;
    padding: 0px;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0);
  }


  #compra-button {
    grid-area: 1;
    justify-content: center;
    font-size: 11px;
    height: 30px;
    width: 130px;
    padding: 5px 3px;
  }

  #venda-button {
    grid-area: 1;
    justify-content: center;
    font-size: 11px;
    height: 30px;
    width: 130px;
    padding: 5px 3px;
  }

  #pix-button {
    grid-area: 2;
    justify-content: center;
    font-size: 11px;
    height: 40px;
    width: 130px;
    padding: 5px 3px;
  }


  #emprestimo-button {
    grid-area: 2;
    justify-content: center;
    font-size: 11px;
    height: 30px;
    width: 130px;
    padding: 5px 3px;
  }

  #emprestimo-conteudo,
  #pix-conteudo,
  #venda-conteudo,
  #compra-conteudo {
    grid-column: 1/-1;
    grid-row: 3/6;
  }

  .div-total {
    justify-self: center;
  }
}

@media (max-width: 500px) {
  .selecao-conteudo {
    grid-template-columns: 172px 172px;
  }

  .titulo {
    font-size: 1.35rem;
    margin-bottom: 10px;
  }

  .selecao-radio h2 {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .titulo {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .selecao-radio h2 {
    font-size: 0.55rem;
  }

  .selecao-conteudo {
    grid-template-columns: 120px 120px;
    margin: 0 auto;
    gap: 20px;
    border-radius: 10px;
    background: #e7e7e7;
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
  }

  .financas-formulario {
    border-radius: 0px;
    width: 100%;
    padding: 0px;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0);
  }

  .financas-formulario {
    display: grid;
    grid-template-columns: auto;
  }

  #compra-button {
    font-size: 9px;
    height: 25px;
    width: 100px;
  }

  #venda-button {
    font-size: 9px;
    height: 25px;
    width: 100px;
  }

  #pix-button {
    font-size: 9px;
    height: 25px;
    width: 100px;
  }


  #emprestimo-button {
    font-size: 9px;
    height: 25px;
    width: 100px;
  }
}

/* MOVIMENTACOES */
.organizaMov.jurosLs {
  display: none;
}


.editValueBg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.25);
}

.editValueBg.ativo {
  display: flex;
}

.editValue {
  width: 600px;
  background-color: white;
  padding: 20px;
  height: 230px;
  border: 1px solid black;
  position: relative;
}

.editValue label {
  display: block;
}

#editar::before {
  content: "Editar";
}

#editar.ativo::before {
  content: "Confirmar";
}

.confirmar {
  position: absolute;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  border: 1px solid #3f019d;
  background-color: #f92828;
}

.confirmar.ativo {
  display: grid;
}

.confirmar span {
  grid-column:
    1/-1;
}

#fecharEdit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f92828;
  border: 1px solid black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.movimentacoes-bg {
  border-bottom: 2px solid #6d29d3;
  padding-bottom: 400px;
}

.movimentacoes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 60px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 25px;
}

.movimentacoes h1 {
  font-size: 25px;
}

.movimentacoes img {
  width: 180px;
  margin-bottom: 45px;
  margin-left: -300px;
}

.movimentacoes-conteudo-bg {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.movimentacoes-conteudo {
  display: grid;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background: #e7e7e7;
  width: 1100px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.organizaMov {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.movimentacoesLista {
  display: flex;
  align-items: center;
  width: 1050px;
  gap: 5px;
  margin-bottom: 15px;
  background-color: #cacaca;
  padding: 7px 10px 7px 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.movimentacoesLista.ativo {}

.movimentacoesLista img {
  margin-top: 10px;
}

#tabela input {
  border-radius: 10px;
  height: 26px;
  background-color: #7aff64;
  color: #130031;
  border-color: #3f019d;
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 15px;
}

#nomeMov {
  width: 180px;
}

#aReceber {
  width: 140px;
}

#valorMensal,
#valorFinal,
#valorInicial {
  width: 120px;
}

#vencimentoTotal {
  width: 135px;
}

#parcelasTotal {
  width: 130px;
  padding: 1px 5px;
}

#totalFinal {
  width: 110px;
  margin-left: 10px;
}

#lucro,
#deficit {
  width: 100px;
  padding: 1px 5px;
}

/* media de Movimentacoes */

@media (max-width: 1200px) {
  .movimentacoes {
    gap: 50px;
  }

  .movimentacoes h1 {
    font-size: 25px;
  }

  .movimentacoes img {
    width: 150px;
    margin-bottom: 35px;
    margin-left: -250px;
  }

  .movimentacoes-conteudo {
    width: 850px;
  }

  .movimentacoesLista {
    width: 830px;
    gap: 5px;
    margin-bottom: 15px;
  }



  #tabela tr {
    gap: 5px;
  }

  #tabela input {
    font-size: 12px;
  }

  #nomeMov {
    width: 130px;
  }

  #aReceber {
    width: 90px;
  }

  #valorMensal,
  #valorFinal,
  #valorInicial {
    width: 110px;
  }

  #vencimentoTotal {
    width: 125px;
  }

  #parcelasTotal {
    width: 110px;
    padding: 1px 5px;
  }

  #totalFinal {
    width: 90px;
    margin-left: 10px;
  }

}

@media (max-width: 1000px) {
  .movimentacoes {
    gap: 40px;
  }

  .movimentacoes h1 {
    font-size: 20px;
  }

  .movimentacoes img {
    width: 150px;
    margin-bottom: 35px;
    margin-left: -200px;
  }

  .movimentacoes-conteudo {
    width: 740px;
  }

  .movimentacoesLista {
    width: 715px;
    gap: 5px;
    margin-bottom: 15px;
  }


  #nomeMov {
    width: 110px;
  }

  #aReceber {
    width: 80px;
  }

  #deficit,
  #lucro,
  #valorMensal,
  #valorFinal,
  #valorInicial {
    width: 90px;
  }

  #vencimentoTotal {
    width: 115px;
  }

  #parcelasTotal {
    width: 100px;
    padding: 1px 5px;
  }

  #totalFinal {
    width: 80px;
    margin-left: 10px;
  }
}

@media (max-width: 800px) {

  .movimentacoes h1 {
    font-size: 18px;
  }

  .organizaMov span {
    margin-bottom: 2px;

  }

  .movimentacoes {
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 0 20px;
    padding-top: 0px;
  }

  .movimentacoes img {
    display: none;
  }

  .movimentacoes-bg {
    padding-bottom: 50px;
  }

  .movimentacoes-conteudo {
    width: 530px;
  }

  .movimentacoesLista {
    width: 500px;
    gap: 5px;
    margin-bottom: 15px;
  }

  #nomeMov {
    width: 110px;
  }

  #aReceber {
    width: 80px;
  }



  #vencimentoTotal {
    width: 70px;
  }

  #parcelasTotal {
    width: 100px;
    padding: 1px 5px;
  }

  #totalFinal {
    width: 80px;
    margin-left: 10px;
  }

  .deficit,
  .parcelasTotal,
  .lucro {
    display: none;
    position: absolute;
  }


}

@media (max-width: 600px) {

  .movimentacoes h1 {
    font-size: 18px;
  }

  .movimentacoes {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .organizaMov span {
    font-size: 12px;
  }

  #tabela input {
    font-size: 11px;
  }

  .movimentacoes-conteudo {
    width: 450px;
    padding: 10px;
  }

  .movimentacoesLista {
    width: 400px;
    gap: 5px;
    margin-bottom: 15px;
  }

  #nomeMov {
    width: 90px;
  }

  #aReceber {
    width: 60px;
  }

  #vencimentoTotal {
    width: 60px;
  }

  #totalFinal {
    width: 70px;
    margin-left: 10px;
  }

  .Deficit,
  .parcelasTotal,
  .lucro {
    display: none;
    position: absolute;
  }

  #valorMensal,
  #valorFinal,
  #valorInicial {
    width: 75px;
  }
}

@media (max-width: 500px) {

  .movimentacoes h1 {
    font-size: 16px;
  }

  .movimentacoes {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .movimentacoesLista img {
    width: 25px;
    height: 22px;
  }

  #tabela input {
    font-size: 11px;
  }

  .movimentacoes-conteudo {
    width: 350px;
    padding: 10px;
  }

  .movimentacoesLista {
    width: 310px;
    gap: 5px;
    margin-bottom: 15px;
  }

  #nomeMov {
    width: 90px;
  }

  #aReceber {
    width: 60px;
  }

  #vencimentoTotal {
    width: 60px;
  }

  #totalFinal {
    width: 70px;
    margin-left: 10px;
  }

  .deficit,
  .parcelasTotal,
  .lucro,
  .valorInicial,
  .aReceber {
    display: none;
  }

  #valorFinal {
    width: 75px;
  }

  .deficit {
    display: none;
  }
}

@media (max-width: 400px) {

  .movimentacoes h1 {
    font-size: 14px;
  }

  .movimentacoes {
    margin-bottom: 10px;
  }


  .movimentacoesLista img {
    width: 22px;
    height: 18px;
  }

  #tabela input {
    font-size: 10px;
  }

  .movimentacoes-conteudo {
    width: 250px;
    padding: 10px;
  }

  .movimentacoesLista {
    width: 230px;
    gap: 5px;
    margin-bottom: 15px;
  }

  #nomeMov {
    width: 70px;
  }


  #vencimentoTotal {
    width: 40px;
  }

  #totalFinal {
    width: 70px;
  }

  #valorFinal {
    width: 60px;
  }

}



/* Saldo */

.saldo-bg {
  border-bottom: 2px solid #6d29d3;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.saldo-bg {
  padding-top: 90px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.saldo h2 {
  font-size: 20px;
}

.saldo img {
  margin-left: 180px;
  margin-top: 84px;
}

.piechart {
  margin-left: 365px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(#f92828 70deg, #7aff64 0 235deg, #6d29d3 0);
}

.saldo-grafico {
  display: flex;
  align-items: center;
}