body {
  background: linear-gradient(180deg, #009FE3 6.22%, rgba(0, 179, 255, 0) 20%);
  position: relative;
}

/* Header */

.header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: #009FE3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.perfil {
  width: 95%;
  margin: 0 auto;
  color: white;
}

.perfil ul {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0px 4px;
}

.nome-login {
  font-size: 12px;
  line-height: 1;
  color: white;
  white-space: nowrap;
}

.img-perfil {
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

@media (min-width: 500px) {

  .img-perfil {
    width: 30px;
    height: 30px;
  }

  .perfil {
    padding: 0px 0px 0px 12px;
    margin: 0 auto;
    color: white;
  }
}

/* Financas */

.financas-bg {
  width: 100%;
  margin: 0 auto;
  margin-top: 8px;
}

.selecao-radio {
  width: 88%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}

.selecao-conteudo {
  display: grid;
  grid-template-columns: 135px 135px;
  align-self: center;
  gap: 16px 25px;
}

.saldo {
  font-size: 12px;
  line-height: 1;
}

.valor {
  font-size: 18px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 16px;
}

.saldo-geral {
  display: flex;
  align-items: center;
  gap: 0 4px;
}

.status {
  display: grid;
  grid-template-columns: 4px 1fr;
  padding: 2px 8px 2px 8px;
  gap: 4px;
  font-size: 12px;
  line-height: 1;
  align-items: center;
  margin-left: 8px;
  width: auto;
  height: 11px;
  border-radius: 8px;
}

.menu {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.texto {
  text-align: center;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: 'roboto', sans-serif;
}

.transacao {
  display: none;
}

#compra-button:hover,
#venda-button:hover,
#pix-button:hover,
#emprestimo-button:hover {
  background: #d3d3d3;
  border-color: #a5a5a5;
}

#compra-button,
#venda-button,
#pix-button,
#emprestimo-button {
  background: #EFEFEF;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 8px;
  font-family: "Libre Baskerville", serif;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  width: 135px;
  height: 45px;
  border: 1px solid #C9C9C9;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#compra-button.ativo,
#venda-button.ativo,
#pix-button.ativo,
#emprestimo-button.ativo {
  background: #d3d3d3;
  border: 1px solid #a5a5a5;
}

.financas-formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  padding-top: 8px;
  margin-top: 6px;
  border-top: 1px solid #D8D8D8;
  display: grid;
  width: 100%;
}

.financas-formulario select,
.financas-formulario input {
  background: #d3b7ff;
  border: 1px solid #130031;
  border-radius: 5px;
  height: 20px;
  font-family: "roboto", sans-serif;
  text-align: center;
  font-size: 10px;
  text-align-last: center;
  color: black;
}


.financas-formulario input::placeholder {
  color: #545454;
  text-align: center;
  font-size: 10px;
}

.financas-formulario button {
  display: flex;
  align-items: center;
  gap: 0px 8px;
  width: 110px;
  height: 30px;
  padding: 5px 5px 5px 10px;
  color: #130031;
  background: linear-gradient(#ceaeff, #ac7df4);
  border: 1px solid #130031;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}


.div-total,
.div-parcelas {
  grid-column: 1/-1;
}

.div-parcela-juros {
  grid-column: 1/-1;
}

.div-total {
  justify-self: center;
}

.div-botao {
  padding-top: 10px;
  grid-column: 1/-1;
  justify-self: center;
}

.financas-formulario button:hover {
  background: linear-gradient(#c8a6ff, #a372f0);
}

.financas-formulario button img {
  width: 15px;
  height: 15px;
}

/* IDS */


#compra-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/compra.svg");
  width: 22px;
  height: 22px;
}

#compra-button::after {
  content: "Despesa";
  display: block;
}

#venda-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/venda.svg");
  width: 22px;
  height: 22px;
}

#venda-button::after {
  content: "Receita";
  display: block;
}

#pix-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/pix.svg");
  width: 23px;
  height: 22px;
}

#pix-button::after {
  content: "Transferencia";
  display: block;
}

#emprestimo-button::before {
  content: "";
  display: block;
  background-image: url("../img/Movimentacoes/emprestimo.svg");
  width: 23px;
  height: 22px;
}

#emprestimo-button::after {
  content: "Emprestimo";
  display: block;
}

#emprestimo-conteudo,
#venda-conteudo,
#compra-conteudo,
#pix-conteudo {
  grid-column: 1 / -1;
}

#compra-conteudo {
  display: none;
}

#emprestimo-conteudo.ativo,
#venda-conteudo.ativo,
#compra-conteudo.ativo,
#pix-conteudo.ativo {
  display: block;
}

/* ids formulario */

#receita,
#parcelas,
#juros-compostos,
#emprestimo-juros {
  padding: 0px 10px;
  width: 148px;
  height: 24px;
  padding: 4px 6px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

#pix-label::before,
#compra-label::before,
#venda-label::before,
#emprestimo-label::before {
  position: relative;
}

#dataInfo,
#movimentacao,
#valor {
  width: 97%;
}

#parcelas,
#emprestimo-juros,
#juros-compostos {
  width: 100%;
  cursor: pointer;
}

.parcelasTotal {
  display: none;
}

#receita {
  width: 100%;
}

.icon {
  background-color: #FFFDFF;
  padding: 5px;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
}

#data {
  width: 97%;
}

#total {
  margin-bottom: 10px;
}

/* Media do formulario */



/* MOVIMENTACOES */
.organizaMov.jurosLs {
  display: none;
}


.editValueBg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.3);
}

.editValueBg.ativo {
  display: flex;
  animation: modal .4s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.editValue {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 20px;
  height: auto;
  border: 10px solid #38A1FF;
  box-shadow: 0 0 0 4px white;
  position: relative;
}

.botaoEdit {
  display: flex;
  justify-self: center;
  margin-top: 16px;
  gap: 16px;
}

.editValue label {
  display: block;
}

#editar::before {
  content: "Editar";
}

#editar.ativo::before {
  content: "Confirmar";
}

.confirmar {
  position: absolute;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  border: 1px solid #3f019d;
  background-color: #f92828;
}

.confirmar.ativo {
  display: grid;
}

.confirmar span {
  grid-column:
    1/-1;
}

#fecharEdit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f92828;
  border: 1px solid black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.movimentacoes-bg {
  width: 100%;
  margin-top: 32px;
}


.movimentacoes-bg h3 {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
}

.movimentacoes-conteudo-bg {
  margin: 0 auto;
  margin-top: 8px;
  width: 100%;
  display: grid;
  justify-items: center;
}

.movimentacoes-conteudo {
  display: grid;
  justify-content: center;
  border-radius: 5px;
  background: white;
  padding: 12px;
  width: 100%;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.movimentacoesLista {
  display: grid;
  grid-template-columns: 34px 60% auto;
  align-items: center;
  gap: 4px 8px;
  margin: 0 auto;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid #EEEEEE;
}

.icon-transacao {
  grid-row: 1/3;
  width: 22px;
  height: 22px;
}



.valorInicial,
#valorFinal,
#categoria,
#data {
  width: 70px;
}

#nomeMov {
  width: 60px;
}



#tabela {
  width: 85vw;
}

#lucro,
#deficit,
#jurosLs,
#jurosMesLs,
#parcelasTotal {
  display: none;
}



#tabela input {
  border: none;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  text-align: start;
  color: #313131;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.8rem
}


#categoria,
#data,
.valorFinal,
.pix#nomeMov,
.parcelas-venda#parcelasTotal {
  display: block;
  color: #939393 !important;
  font-size: 0.6rem !important;
}



/* @media (min-width: 375px) {
  #tabela input {
    font-size: 0.7rem
  }

  #tabela span {
    font-size: 0.7rem;
  }

} */

/* media de Movimentacoes */




/* Saldo */

.saldo-bg {
  border-bottom: 2px solid #6d29d3;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.saldo-bg {
  padding-top: 90px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.saldo h2 {
  font-size: 20px;
}

.saldo img {
  margin-left: 180px;
  margin-top: 84px;
}

.piechart {
  margin-left: 365px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(#f92828 70deg, #7aff64 0 235deg, #6d29d3 0);
}

.saldo-grafico {
  display: flex;
  align-items: center;
}