body {
  min-height: 100vh;
}


.header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: #009FE3;
  display: flex;
  font-family: 'poppins', sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.perfil {
  max-width: 1200px;
  width: 93%;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
  padding: 0px 20px;
}

.perfil ul {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 0px 4px;
}

.perfil li {
  display: flex;
  align-items: center;
}

.setinha {
  color: white;
  height: 10px;
  margin-left: 6px;
  transition: transform 0.5s ease;
}

.setinha.ativo {
  transform: rotate(90deg)
}

.sair {
  cursor: pointer;
  display: flex;
  align-items: center;

}

.sair:hover .setinha {
  transform: rotate(90deg)
}

.nome-login {
  font-size: 10px;
  line-height: 1;
  color: white;
  white-space: nowrap;
}

.img-perfil {
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

.links {
  width: auto;
  display: flex;
  gap: 16px;
}

.links a {
  color: white;
}

.atividades {
  border-bottom: 2px solid white;
}

@media (min-width: 375px) {
  .header {
    font-size: 12px;
  }

  .links {
    gap: 16px;
  }

  .perfil {
    gap: 16px;
  }

  .nome-login {
    font-size: 12px;
  }
}

@media (min-width: 500px) {
  .header {
    font-size: 12px;
  }

  .links {
    gap: 32px;
  }

  .perfil {
    gap: 32px;
  }

  .nome-login {
    font-size: 12px;
  }
}

/* graficos */

.graficos-container {
  margin: 0 auto;
  height: auto;
  display: grid;
  justify-items: center;
  border-bottom: 1px solid #D9D9D9;
}


.resumo {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding-bottom: 10px;
}

.resumo-gastos,
.resumo-ganhos {
  display: flex;
  font-family: "roboto", sans-serif;
  align-items: center;
  text-align: start;
  gap: 10px;
}

.resumo-ganhos p,
.resumo-gastos p {
  font-size: 12px;
  font-weight: 500;
}

.resumo-gastos span {
  color: #CF0032;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.resumo-ganhos span {
  color: #01CE16;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.div-setaUp {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #00CF15;
}

.div-setaDown {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F92828;
}

/* transacoes */

.transacoesTotais-bg {
  max-width: 95vw;
  height: 100%;
  display: grid;
  justify-content: center;
}

.filtros {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.filtro-compra,
.filtro-venda,
.filtro-transferencia,
.filtro-emprestimo {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .2s;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}

.filtro-compra:hover,
.filtro-venda:hover,
.filtro-transferencia:hover,
.filtro-emprestimo:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.filtro-compra.ativo,
.filtro-venda.ativo,
.filtro-transferencia.ativo,
.filtro-emprestimo.ativo {
  background-color: rgba(0, 0, 0, 0.02);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {

  .filtro-compra:hover,
  .filtro-venda:hover,
  .filtro-transferencia:hover,
  .filtro-emprestimo:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(0px);
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .filtro-compra.ativo,
  .filtro-venda.ativo,
  .filtro-transferencia.ativo,
  .filtro-emprestimo.ativo {
    background-color: rgba(0, 0, 0, 0.02);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}


.filtro-compra:active,
.filtro-venda:active,
.filtro-transferencia:active,
.filtro-emprestimo:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.filtros img {
  width: 25px;
  height: 25px;
}

.h2-transacao {
  font-size: 12px;
  text-align: center;
  margin-top: 16px;
  font-family: 'roboto', sans-serif;
  font-weight: 600;
}

.pesquisar {
  display: grid;
  margin-top: 8px;
  position: relative;
  grid-template-columns: 1fr 33px 18px;
  align-items: center;
  gap: 12px;
}

.pesquisa {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 6px;
  padding-left: 30px;
  background-color: #F0F0F0;
}

.pesquisa:focus {
  border: 1px solid rgba(0, 0, 0, 0.8);
  outline: 0;
}

.lupa {
  position: absolute;
  top: 8px;
  left: 14px;
}

.tabela-transacoes {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 16px;
  gap: 8px;
  width: 92vw;
  height: auto;
  border-radius: 20px;
}



.movimentacoesLista {
  display: grid;
  width: 100%;
  grid-template-columns: 50px 60% auto;
  height: 40px;
  justify-content: center;
  font-family: 'roboto', sans-serif;
  font-size: 0.8rem;
  align-items: center;
  gap: 0px 8px;
  margin: 0 auto;
  cursor: pointer;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid #EEEEEE;
}

.icon.icon-transacao {
  display: grid;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #FDFDFD 0%, #F4F4F4 100%);
  padding: 5px;
  border: 1px solid #E0E0E0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#nomeMov {
  width: auto;
}

.organizaMov.jurosLs {
  display: none;
}


.editValueBg {
  display: none;
  position: fixed;
  font-family: 'roboto', sans-serif;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.3);
}

.editValueBg.ativo {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.editValue {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: auto;
  box-shadow: 0 0 0 4px white;
  animation: modal .4s forwards;

}

#compraLabelEdit .editValue,
#compra-conteudo .financas {
  border: 10px solid #F92828;
}

#emprestimoLabelEdit .editValue,
#emprestimo-conteudo .financas {
  border: 10px solid #6D29D3;
}

#transferenciaLabelEdit .editValue,
#pix-conteudo .financas {
  border: 10px solid #32BCAD;
}

#vendaLabelEdit .editValue,
#venda-conteudo .financas {
  border: 10px solid #00920F;
}

.botaoEdit {
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
  gap: 16px;
}

.editValue input,
.editValue select {
  margin-bottom: 8px;
}

#deletar,
#editar {
  font-family: 'roboto', sans-serif;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#editar::before {
  content: "Editar";
}

#editar.ativo::before {
  content: "Confirmar";
}

.confirmar {
  position: absolute;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  border: 1px solid #3f019d;
  background-color: #f92828;
}

.confirmar.ativo {
  display: grid;
}

.confirmar span {
  grid-column:
    1/-1;
}

#fecharForm,
#fecharEdit {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f92828;
  border: 1px solid black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}



.icon-transacao {
  grid-row: 1/3;
  width: 26px;
  height: 26px;
}

#data {
  grid-column: 3;
}

#data {
  width: 70px;
}

#categoria {
  width: 120px;
}

#condicao {
  display: none;
}

#transferenciaLabel #condicao {
  display: block;
}

#valor,
.valorInicial {
  width: auto;
  font-size: 12px;
}


#nomeMov {
  width: auto;
}

#tabela {
  width: 85vw;
}

#condicional,
#diferenca,
#jurosLs,
#jurosMesLs,
#parcelasTotal {
  display: none;
}

#tabela input {
  border: none;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  text-align: start;
  color: #313131;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.8rem
}

#categoria,
#data,
.valorFinal,
.transferencia#nomeMov,
.parcelas-venda#parcelasTotal {
  display: block;
  color: #939393 !important;
  font-size: 0.6rem !important;
}