.header {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  background-color: #009FE3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.perfil {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  color: white;
}

.perfil ul {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0px 4px;
  cursor: pointer;
}

.perfil li {
  display: flex;
  align-items: center;
}

.setinha {
  color: white;
  height: 12px;
  margin-left: 8px;
  transition: transform 0.5s ease;
}

.setinha.ativo {
  transform: rotate(90deg)
}

.perfil ul:hover .setinha {
  transform: rotate(90deg)
}

.nome-login {
  font-size: 12px;
  line-height: 1;
  color: white;
  white-space: nowrap;
}

.img-perfil {
  margin: 0 auto;
  width: 25px;
  height: 25px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 50px;
}

@media (min-width: 500px) {

  .img-perfil {
    width: 30px;
    height: 30px;
  }

  .perfil {
    padding: 0px 0px 0px 12px;
    margin: 0 auto;
    color: white;
  }
}

/* graficos */

.graficos-container {
  width: 100vw;
  height: 250px;
  display: grid;
  justify-items: center;
  border-bottom: 1px solid #D9D9D9;
}

.grafico {}

.resumo {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.resumo-gastos,
.resumo-ganhos {
  display: flex;
  font-family: "roboto", sans-serif;
  align-items: center;
  text-align: start;
  gap: 10px;
}

.resumo-ganhos p,
.resumo-gastos p {
  font-size: 12px;
  font-weight: 500;
}

.resumo-gastos span {
  color: #CF0032;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.resumo-ganhos span {
  color: #01CE16;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}

.div-setaUp {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #00CF15;
}

.div-setaDown {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F92828;
}

/* transacoes */

.transacoesTotais-bg {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.filtros {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding-top: 16px;
}

.filtro-compra,
.filtro-venda,
.filtro-transferencia,
.filtro-emprestimo {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.filtros img {
  width: 25px;
  height: 25px;
}

.h2-transacao {
  font-size: 12px;
  text-align: center;
  margin-top: 16px;
  font-family: 'roboto', sans-serif;
  font-weight: 600;
}

.pesquisar {
  display: grid;
  margin-top: 8px;
  position: relative;
  grid-template-columns: 1fr 33px 18px;
  align-items: center;
  gap: 12px;
}

.pesquisa {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #F0F0F0;
}

.lupa {
  position: absolute;
  top: 5px;
  left: 14px;
}

.tabela-transferencias {
  margin-top: 16px;
  width: 90vw;
  background-color: #F0F0F0;
  height: 300px;
  border-radius: 20px;
}