@import url('../css/header.css');
@import url('./financas.css');
@import url('./botoesAtividades.css');
@import url('./formularioAdicao.css');
@import url('./tabela.css');
@import url('./formularioEdicao.css');
@import url('./dropDownEdit.css');
@import url('./categoriasEditor.css');

.inicial {
  border-bottom: 2px solid white;
}

body {
  background-color: #FAFAFA;
  position: relative;
  max-height: 100vh;
  overscroll-behavior: smooth;
}