.grafico-resumo-bg {
  width: 80vw;
  height: 250px;
  font-family: 'roboto', sans-serif;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.slide {
  display: flex;
  gap: 20px;
}

#graficoEmprestimo {
  margin-right: 50px;
}

.slide:last-child {
  margin-right: 20px;
}


.grafico-resumo-bg p {
  margin-top: 12px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 16px;

}

.resumosDivs {
  display: grid;
}

.valorResumido {
  display: block;
  margin-top: 8px;
  color: #01CE16;
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
}

#graficoDespesa .valorResumido {
  color: #CF0032;
}

#graficoEmprestimo .valorResumido {
  color: #6D29D3;
}

#graficoEmprestimo .porcentagensAtuais::before {
  background-color: #6D29D3;
}

#graficoDespesa .porcentagensAtuais::before {
  background-color: #F92828;
}

.porcentagensAtuais {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  margin-left: 16px;
  color: #979797;
}

.porcentagensAtuais::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00CF15;
  border-radius: 5px;
}


.informacoesDaCategoria {
  display: grid;
  position: relative;
  font-size: 12px;
  grid-template-columns: 80px 80px 20px 80px;
  gap: 4px;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
}


.informacoesDaCategoria.ocultar {
  position: absolute;
  z-index: -1000;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.porcentagemNumero {
  color: #979797;
  font-size: 12px;
}

.graficoPorcentagem {
  display: block;
  right: 0px;
  justify-self: end;
  font-size: 12px;
  background-color: #10DE24;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  transition: all .3s;
}

#graficoDespesa .graficoPorcentagem {
  background-color: #F92828;
}

#graficoEmprestimo .graficoPorcentagem {
  background-color: #6D29D3;
}

.valorTotalDaCategoria {
  margin-left: 16px;
  font-weight: 500;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 2px;
}

[data-control="slide"] li a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #C8C8C8;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
}

[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background-color: #595959;
}