@import url('../css/header.css');
@import url('./formularioEdicao.css');
@import url('./tabela.css');
@import url('./resumoCategorias.css');
@import url('./graficos.css');

.atividades {
  border-bottom: 2px solid white;
}

body {
  background-color: #FAFAFA;
  position: relative;
  user-select: none;
}


/* transacoes */

.transacoesTotais-bg {
  width: 100%;
  margin-top: 16px;
}

.transacoesTotais {
  display: grid;
  justify-content: center;
  border-radius: 5px;
  background: white;
  margin-top: 8px;
  padding: 12px 0px 0px 0px;
  max-width: 100vw;
  padding-bottom: 20px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.filtros-bg {
  margin: 0 auto;
  width: 100%;
  display: grid;
  max-width: 1200px;
}

.h2-transacao {
  margin: 0 auto;
  width: 88%;
}

.filtros {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.pesquisar span {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.filtrar {
  cursor: pointer;
}

.filtro-compra,
.filtro-venda,
.filtro-transferencia,
.filtro-emprestimo {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .2s;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  user-select: none;

}

.filtro-compra:hover,
.filtro-venda:hover,
.filtro-transferencia:hover,
.filtro-emprestimo:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.0);
}

.filtro-compra.ativo,
.filtro-venda.ativo,
.filtro-transferencia.ativo,
.filtro-emprestimo.ativo {
  background-color: rgba(0, 0, 0, 0.02);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {

  .filtro-compra:hover,
  .filtro-venda:hover,
  .filtro-transferencia:hover,
  .filtro-emprestimo:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    transform: translateY(0px);
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .filtro-compra.ativo,
  .filtro-venda.ativo,
  .filtro-transferencia.ativo,
  .filtro-emprestimo.ativo {
    background-color: rgba(0, 0, 0, 0.02);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.filtro-compra:active,
.filtro-venda:active,
.filtro-transferencia:active,
.filtro-emprestimo:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.filtros img {
  width: 25px;
  height: 25px;
}

.h2-transacao {
  font-size: 14px;
  margin-top: 16px;
  font-family: 'roboto', sans-serif;
  font-weight: 500;
}

.pesquisar {
  display: grid;
  margin-top: 8px;
  position: relative;
  grid-template-columns: 1fr 33px 18px;
  align-items: center;
  gap: 12px;
}

.pesquisa {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 6px;
  padding-left: 30px;
  background-color: #F0F0F0;
}

.pesquisa:focus {
  border: 1px solid rgba(0, 0, 0, 0.8);
  outline: 0;
}

.lupa {
  position: absolute;
  top: 8px;
  left: 14px;
}

.tabela-transacoes {
  margin-top: 16px;
  width: 85vw;
}